<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', {title: 'Newsletter Node | Dashboard '})%>
  <body>
    <div class="h-screen w-full flex flex-col lg:flex-row">
      <%- include('dashboard/sidebar.ejs')%>
      <main class="flex-1 p-5">
        <h2 class="text-xl mb-5">Users</h2>
      </main>
    </div>
  </body>
</html>
