<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', {title: 'Newsletter Node | About'}) %>
  <body>
    <div class="flex flex-col min-h-screen">
      <%- include('partials/nav.ejs') %>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
