<header class="px-4 lg:px-6 h-14 flex items-center pt-4">
  <a class="flex items-center justify-center" href="/">
    <i data-lucide="newspaper"></i>
    <span class="sr-only">Newsletter Node</span>
  </a>
  <nav class="ml-auto flex gap-4 sm:gap-6">
    <a
      class="text-sm font-medium hover:underline underline-offset-4"
      href="/about"
    >
      About </a
    ><a
      class="text-sm font-medium hover:underline underline-offset-4"
      href="/contact"
    >
      Contact
    </a>
  </nav>
</header>
